@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h1 id="title">Hakkında</h1><br/>
    <h4>@ViewBag.Message</h4><br/>
    <p>ASP.NET Framework MVC</p><br />
    <p>JavaScript</p><br />
    <p>JQuery DataTable</p><br />
    <p>OpenXML SDK</p><br />
    <p>kullanılarak tasarlanmıştır.</p><br />
</main>