@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1 id="title">İletişim Bilgileri</h1>
    <h3>@ViewBag.Message</h3>
    <br/>
    <address>
        <h4>Mert Denizci</h4><br />
        <abbr title="Telefon">T:</abbr>
        0531 769 12 46<bt /><br/>
        <abbr title="Email">M:</abbr>
        <a href="mailto:mertdenizci99@gmail.com">mertdenizci99@gmail.com</a>
    </address>

    <address>
        <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/mert-denizci/">Mert Denizci</a><br />
        <strong>GitHub:</strong> <a href="https://github.com/denizciMert">mertDenizci</a>
    </address>
</main>